tables
obs.db
.ssh/
.bash_history
.bashrc
.cache/
.config/
.gitconfig
.ipython/
.local/
.python_history
.selected_editor
.vim/
.viminfo
.wget-hsts
__pycache__/
bufr.old/
bufr/
data.json
eccodes-python/
g
log/
output.json
output/
snap/
tables/
test.txt
