# This file is used to ignore files and directories in a Git repository.
main.db
other_languages/rust/target/
TODO.md
txt/
unused/
sqlite_utils.txt
nohup.out
*.profile
tables
obs.db
.ssh/
.bash_history
.bashrc
.cache/
.config/
.gitconfig
.ipython/
.local/
.python_history
.selected_editor
.vim/
.viminfo
.wget-hsts
__pycache__/
synop/
GMA/
data.json
eccodes-python/
log/
output.json
output/
snap/
tables/
test.txt
wget-log*
.bash_profile
.conda/
ECCODES.err
pdbufr/
plbufr/
AEMET/
NCAR/
OGIMET/
SWISS/
ZAMG/
COD/
DWD/
RMI/
KNMI/
NOAA/
miniconda3
obs.db-journal
pid.BUFRdecode
.bash_aliases
.sqlite_history
*.log
*.tar
