bcolors==1.0.4
constants==2023.2.0
eccodes==1.6.0
functions==0.7.0
funcy==2.0
Jinja2==3.1.2
metar==1.11.0
metview==1.15.0
netCDF4==1.6.4
numpy==1.25.2
pandas==1.5.3
pdbufr==0.11.0
psutil==5.9.0
pymetdecoder==0.1.4
pypyr==5.8.0
Requests==2.31.0
ruamel.base==1.0.0
wget==3.2
