adbc-driver-manager==0.9.0
adbc-driver-sqlite==0.9.0
alabaster==0.7.13
annotated-types==0.6.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
argcomplete==3.1.1
astral==3.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4==4.12.2
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1696018006395/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
click-default-group-wheel==1.2.2
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.0.1
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1701731617055/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
connectorx==0.3.2
contourpy==1.2.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
distro==1.8.0
docopt==0.6.2
docutils==0.20.1
eccodes @ file:///home/conda/feedstock_root/build_artifacts/python-eccodes_1696247465293/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
findlibs @ file:///home/conda/feedstock_root/build_artifacts/findlibs_1682423883580/work
fsspec==2023.12.2
funcy==2.0
geopolars==0.1.0a4
gevent==23.9.1
greenlet==3.0.3
hypothesis==6.98.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
iniconfig==2.0.0
intel-openmp==2024.1.2
ipython @ file:///croot/ipython_1691532092695/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397236330/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1703178593403/work/libmambapy
matplotlib-inline==0.1.7
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285750/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
numexpr @ file:///croot/numexpr_1696515281613/work
numpy==1.26.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.2.2
pdbufr==0.11.0
pexpect==4.9.0
pickleshare==0.7.5
pipdeptree==2.21.0
platformdirs==3.10.0
plbufr==0.0.0
pluggy==1.5.0
polars==0.20.7
prompt_toolkit==3.0.46
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pycosat==0.6.6
pycparser==2.22
Pygments==2.18.0
pytest==8.2.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706549378554/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.base==1.0.0
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
six==1.16.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
truststore==0.9.1
tzdata==2024.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1706638047111/work
wcwidth==0.2.13
wget==3.2
yaml-to-sqlite==1.0
zstandard==0.22.0
